<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Authoriti</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a2bac8382233b9fab9a9b00a0a2d2ad3a17022a2</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) uses camera</string>
	<key>UIAppFonts</key>
	<array>
		<string>iAWriterDuospace-Bold.ttf</string>
		<string>iAWriterDuospace-BoldItalic.ttf</string>
		<string>iAWriterDuospace-Regular.ttf</string>
		<string>iAWriterDuospace-RegularItalic.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-BoldItalic.ttf</string>
		<string>Oswald-Demi-BoldItalic.ttf</string>
		<string>Oswald-DemiBold.ttf</string>
		<string>Oswald-Extra-LightItalic.ttf</string>
		<string>Oswald-ExtraLight.ttf</string>
		<string>Oswald-HeavyItalic.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-LightItalic.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-MediumItalic.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-RegularItalic.ttf</string>
		<string>Oswald-Stencil.ttf</string>
		<string>Inconsolata-Bold.ttf</string>
		<string>Inconsolata-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Registration</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
