<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bytes</key>
		<integer>1</integer>
		<key>picker</key>
		<string>industry</string>
		<key>values</key>
		<array>
			<dict>
				<key>title</key>
				<string>Automotive</string>
				<key>value</key>
				<string>01</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Banking</string>
				<key>value</key>
				<string>02</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Healthcare</string>
				<key>value</key>
				<string>03</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Financial Service</string>
				<key>value</key>
				<string>04</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Credit Card</string>
				<key>value</key>
				<string>05</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bytes</key>
		<integer>2</integer>
		<key>picker</key>
		<string>accountId</string>
		<key>values</key>
		<array>
			<dict>
				<key>title</key>
				<string>user_selected</string>
				<key>value</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bytes</key>
		<integer>1</integer>
		<key>picker</key>
		<string>location_country</string>
		<key>values</key>
		<array>
			<dict>
				<key>title</key>
				<string>United States</string>
				<key>value</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bytes</key>
		<integer>2</integer>
		<key>picker</key>
		<string>location_state</string>
		<key>values</key>
		<array>
			<dict>
				<key>title</key>
				<string>East</string>
				<key>value</key>
				<string>01</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Central</string>
				<key>value</key>
				<string>02</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Mountain</string>
				<key>value</key>
				<string>03</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Pacific</string>
				<key>value</key>
				<string>04</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bytes</key>
		<integer>4</integer>
		<key>picker</key>
		<string>time</string>
	</dict>
</array>
</plist>
